body {
    background-image: url(../images/office2.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}

.container {
    width: 600px;
    height: 700px;

}

#miniHorse {
    width: 200px;
    height: auto;
}
